.all-worker {
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
}
  /* Responsive design */
  @media (max-width: 768px) {
    .all-worker {
        border-top-right-radius: 0rem;
        border-top-left-radius: 0;
    }
  }