.hero-container {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    z-index: 1;
  }
  
  .hero-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: 1;
    filter: blur(6px);
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .hero-btn {
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    background-color: var(--button-color);
  }
  .hero-btn-1 {
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    border:2px solid var(--button-color);
  }
  
  .hero-btn.primary {
    background-color: #007bff;
    color: white;
  }
  
  .hero-btn.primary:hover {
    background-color: #0056b3;
  }
  
  .hero-btn.secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }
  
  .hero-btn.secondary:hover {
    background-color: white;
    color: #007bff;
  }

  
  /* Responsive design */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.2rem;
    }
    .hero-content p {
      font-size: 1.2rem;
    }
    .hero-buttons {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .hero-container {
    position: relative;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust overlay as needed */
    z-index: 1;
  }
  
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust video fit */
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .hero-content {
    position: relative;
    z-index: 2; /* Ensure content is above overlay */
  }
  
  /* Add styles for buttons and text as needed */
  