@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* font-family: 'Georgia', 'Times New Roman', serif; */
  background-color: var(--background-div);


}
:root {
  --background-div : #092420;
  --background-div-light : #092420e0;
  --button-color: #448c74;
  --bg-light: #fdfdfd;
}

.icon {
  color: white;
  font-size: 1.4rem;
}